@import "tailwindcss";

:root {
  --accent: rgba(20, 184, 166);
  --black: rgba(16, 16, 16);
  --white: rgba(223, 223, 223);
  --soft-white: rgba(223, 223, 223, 0.75);
}

.shiny {
  background: linear-gradient(
    135deg,
    var(--accent) 25%,
    #eee5ff 50%,
    var(--accent) 75%
  );
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100% 50%;
  }
  30%,
  70% {
    background-position: 0% 50%;
  }
}
