---

---

<section
  id="contact"
  class="flex flex-col justify-between px-8 sm:px-16 pb-16 gap-8 sm:max-sm:px-28"
>
  <div class="grid
  grid-cols-1
  gap-8">
    <div id="contact-title">
      <span class="text-(--accent) shiny">Have a project?</span>
      <h2 class="text-3xl md:text-5xl mt-1 mb-2 md:mb-8">Contact me</h2>
      <p class="text-sm text-thin">
        <span class="text-(--soft-white)">Location: </span>Montauban 82000
        France
      </p>
    </div>
    <div id="contact-form">
      <form
        action=""
        class="grid grid-cols-1 gap-2 text-thin text-(--soft-white)"
      >
        <input
          required
          type="text"
          name="firstname"
          placeholder="Name"
          class="border border-(--soft-white)/20 bg-(--soft-white)/2 rounded-md px-4 py-2 focus:outline focus:outline-(--accent)"
        />
        <label for="firstname"></label>

        <input
          required
          type="email"
          name="email"
          placeholder="Email"
          class="border border-(--soft-white)/20 bg-(--soft-white)/2 rounded-md px-4 py-2 focus:outline focus:outline-(--accent)"
        />
        <label for="email"></label>

        <textarea
          name="message"
          id="message"
          placeholder="Message"
          rows="8"
          class="border border-(--soft-white)/20 bg-(--soft-white)/2 rounded-md p-4 focus:outline focus:outline-(--accent)"
        ></textarea>
        <label for="message"></label>

        <button
          type="submit"
          class="cursor-pointer border border-(--soft-white)/20 bg-(--soft-white)/2 hover:bg-(--soft-white)/10 rounded-md p-2"
          >Submit</button
        >
      </form>
    </div>
  </div>
</section>
