---
import GithubIcon from "../images/github-mark.svg";
import GmailIcon from "../images/gmail-mark.svg";
import LinkedinIncon from "../images/linkedin-mark.svg";
---

<footer
  id="footer"
  class="flex flex-col justify-between px-8 sm:px-16 pb-16 gap-8 sm:max-sm:px-28"
>
  <div
    class="border-t border-(--soft-white)/20 pt-12 flex justify-center gap-4"
  >
    <a
      href="https://github.com/jeremyboubee"
      target="_blank"
      class="inline-block p-2 text-(--soft-white) hover:text-white"
    >
      <GithubIcon fill="currentColor" /></a
    >
    <a
      href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-boubee-3a3905275/"
      target="_blank"
      class="inline-block p-2 text-(--soft-white) hover:text-white"
    >
      <LinkedinIncon fill="currentColor" /></a
    >
    <a
      href="mailto:jeremy.boubee@epitech.eu"
      target="_blank"
      class="inline-block p-2 text-(--soft-white) hover:text-white"
    >
      <GmailIcon fill="currentColor" /></a
    >
  </div>
</footer>
