---
import LetterGlitch from "../preact/LetterGlitch";
---

<section id="home" class="grid grid-cols-1 gap-5">
  <div class="home-title">
    <p class="text-(--soft-white) pl-1 mb-3">Hi &#128075, I'm Jérémy Boubée</p>
    <h1 class="text-5xl">Software Developer</h1>
  </div>
  <p class="text-(--soft-white) text-md pr-12">
    Transforming ideas into interactive and seamless digital experiences with
    cutting-edge <span class="text-(--accent) shiny">frontend</span> development.
  </p>
  <div id="about" class="flex flex-col gap-4">
    <h2 class="text-3xl">About me</h2>
  </div>
  <LetterGlitch
    centerVignette={false}
    client:load
    glitchColors={[
      "rgba(20, 184, 166)",
      "rgba(20, 184, 166, 0.5)",
      "rgba(20, 184, 166, 0.2)",
    ]}
    glitchSpeed={33}
    outerVignette={true}
    smooth={true}
    className="mt-2"
  />
</section>
