---
import DropdownList from "../preact/DropdownList";
import LetterGlitch from "../preact/LetterGlitch";
import LogoSlider from "./logo_slider.astro";

import GithubIcon from "../images/github-mark.svg";
import GmailIcon from "../images/gmail-mark.svg";
import LinkedinIncon from "../images/linkedin-mark.svg";
---

<section
  id="home"
  class="flex flex-col justify-between px-8 sm:px-16 py-16 gap-8 sm:max-sm:px-28"
>
  <div class="grid
  grid-cols-1
  gap-8
  md:grid-cols-2
  md:py-12">
    <div id="home-title" class="place-self-start">
      <p class="text-(--soft-white) pl-1 mb-3">
        Hi &#128075, I'm Jérémy Boubée
      </p>
      <h1 class="text-5xl sm:text-6xl md:text-7xl">Software Developer</h1>
    </div>

    <p
      id="home-description"
      class="text-(--soft-white) text-md sm:text-xl md:text-2xl md:pl-8 md:place-self-center row-span-2"
    >
      Bringin your ideas to life by building modern applications using
      professional toolkit ensuring security and <span
        class="text-(--accent) shiny">seemless</span
      > experience.
    </p>

    <div id="home-socials" class="flex flex-row gap-2 md:pt-2">
      <a
        href="https://github.com/jeremyboubee"
        target="_blank"
        class="border border-(--soft-white)/20 p-3 md:p-5 rounded-xl text-(--soft-white) bg-transparent hover:text-white hover:bg-(--soft-white)/5"
      >
        <GithubIcon fill="currentColor" width={32} />
      </a>
      <a
        href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-boubee-3a3905275/"
        target="_blank"
        class="border border-(--soft-white)/20 p-3 md:p-5 rounded-xl text-(--soft-white) bg-transparent hover:text-white hover:bg-(--soft-white)/5"
      >
        <LinkedinIncon fill="currentColor" width={32} />
      </a>
      <a
        href="mailto:jeremy.boubee@epitech.eu"
        target="_blank"
        class="border border-(--soft-white)/20 p-3 md:p-5 rounded-xl text-(--soft-white) bg-transparent hover:text-white hover:bg-(--soft-white)/5"
      >
        <GmailIcon fill="currentColor" width={32} />
      </a>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row items-center gap-8">
    <LogoSlider />
  </div>

  <div class="flex flex-col gap-8 md:flex-row md:gap-12 md:py-12">
    <div
      id="home-about"
      class="flex flex-col gap-4 md:justify-between sm:max-sm:px-24 md:w-[50%]"
    >
      <div>
        <span class="text-(--accent) shiny">Skills</span>
        <h2 class="text-3xl md:text-5xl mt-1 mb-2">About me</h2>
      </div>
      <DropdownList client:load />
    </div>

    <LetterGlitch
      centerVignette={false}
      client:load
      glitchColors={[
        "rgba(20, 184, 166)",
        "rgba(20, 184, 166, 0.5)",
        "rgba(20, 184, 166, 0.2)",
      ]}
      glitchSpeed={33}
      outerVignette={true}
      smooth={true}
      className="mt-2 flex-1 self-center min-h-[240px] max-h-[240px]"
    />
  </div>
</section>
