---
// import AstroLogo from "../images/astro.svg";
// import BashLogo from "../images/bash.svg";
// import CSS3Logo from "../images/CSS3.svg";
// import GitLogo from "../images/git.svg";
// import HTML5Logo from "../images/HTML5.svg";
// import JavascriptLogo from "../images/javascript.svg";
// import MysqlLogo from "../images/mysql.svg";
// import NodejsLogo from "../images/nodejs.svg";
// import TailwindLogo from "../images/tailwindcss.svg";

import { Image } from "astro:assets";

const technologies = [
  "CSS3",
  "HTML5",
  "astro",
  "bash",
  "git",
  "javascript",
  "mysql",
  "nodejs",
  "tailwindcss",
  "typescript",
];
---

<div class="overflow-x-hidden py-8 w-full relative">
  <div
    class="pointer-events-none absolute inset-y-0 left-0 w-32 bg-gradient-to-r from-[var(--black)] to-transparent z-20"
  >
  </div>
  <div
    class="pointer-events-none absolute inset-y-0 right-0 w-32 bg-gradient-to-l from-[var(--black)] to-transparent z-20"
  >
  </div>
  <div class="flex animate-scroll hover:animate-paused gap-12 md:gap-20 w-max">
    {
      [...technologies, ...technologies, ...technologies].map((tech) => (
        <div class="flex items-center gap-2 group transition-all duration-300">
          <img
            src={`/assets/${tech}.svg`}
            alt={tech}
            class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
            width="32"
            height="32"
            loading="lazy"
          />
          <span class="pl-2 text-lg font-medium text-[var(--white-icon)]">
            {tech.charAt(0).toUpperCase() + tech.slice(1)}
          </span>
        </div>
      ))
    }
  </div>
</div>
