---
import "../styles/global.css";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"html"> {
  lang?: string;
  title?: string;
}

const { lang, title } = Astro.props;
---

<!doctype html>
<html lang={lang ?? "en"}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Astro"}</title>
  </head>
  <body class="bg-(--black) text-(--white) max-w-5xl m-auto">
    <slot />
  </body>
</html>
